
<!DOCTYPE html>
<html>
<head>
<link rel="canonical" href="{{ page.redirect_to }}"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!--<meta http-equiv="refresh" content="0;url={{ page.redirect_to }}" /> -->

<style type="text/css">
.survey{
	width: 100%;
	height: 100%;
	frameborder: 0px;
}
#content
{
    position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
}
body, html
{
    margin: 0; padding: 0; height: 100%; overflow: hidden;
}
</style>

<!-- Google Code for survery filled Conversion Page -->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 926421239;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "jIxGCJ3qh2UQ96HguQM";
	var google_remarketing_only = false;
	/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/926421239/?label=jIxGCJ3qh2UQ96HguQM&amp;guid=ON&amp;script=0"/>
	</div>
</noscript>
</head>
<body>
	<!--
      <a href="{{ page.redirect_to }}">Click here if you are not redirected to survey.<a>
      <script>location='{{ page.redirect_to }}'</script>
  	-->
  	<div id="content">
  		<iframe class="survey" src="https://smuddana.typeform.com/to/s9oDOI"></iframe>
  	</div>
</body>
</html>
